*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  flex-direction: column;

}
header {
  background-color: #4ca0af;
  color: white;
  padding: 10px 0;
}
#meteo-data {
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
footer {
  background-color: #4ca0af;
  color: white;
  padding: 10px 0;
  margin-top: auto;
}